---
layout: main
title: home
permalink: /
order: 1
styles: ["/assets/css/slick", "/assets/css/slick-theme", "/assets/css/home-styles"]
onHomePage: false
---
<article class="welcome">
    <h2>Welcome to Yoko's Kitchen</h2>
    <h3>Here you'll find the finest Japanese food you would ever eate and more...</h3>    
</article>

<article class="other-pages">
    {% for page in site.pages %}
        {% if page.onHomePage %}
            <a class="page-link" href="{{site.baseurl}}{{page.permalink}}">
                <div class="img-container">
                    <img src="{{page.img}}" alt="{{page.title}}">
                </div>
                <h2>{{page.title}}</h2>
            </a>
        {% endif %}
    {% endfor %}
</article>

<article class="dishes">
    <h2>Popular dishes today:</h2>
    <ul class="popular-dishes">
        {% for dish in site.data.data-list.popular-recipes %}
            <li class="dish">
                <div class="img-container">
                    <img src="{{dish.img}}" alt="{{dish.title}}">
                </div>
                <h2>{{dish.title}} - {{dish.price}}</h2>
            </li>
        {% endfor %}
    </ul>
</article>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/slick-style.js"></script>