main .page-content.contacts {
    grid-column: 1 / span 4;
    padding: 2em;
    .contacts-details{
        display: flex;
        flex-wrap: wrap;
    }
    color: $gray;
}
.contacts {
    .contact-info {
        padding: 1em;
    }

    iframe{
        width: 100%;
        outline: 1px solid $warm-light;
    }
    p {
        margin: 0.5em 0;
        text-shadow: 0 0 1px rgba($primary, 0.5);

        span {
            width: 20px;
            height: 20px;
            text-align: center;
            display: inline-block;
        }
    }

    h3 {
        margin-top: 1em;
        color: $warm-light;
        text-shadow: 0 0 1px rgba($primary, 0.5);
    }

    .sm {
        font-size: 2em;
        margin: .2em
    }

    .sm:hover i{
        transform: scale(1.2);
    }
}

