footer {
    @include headerFooterBg;
    background-position: bottom;
    background-size: cover;
    min-height: 80px;
    text-align: left;
    padding: 0 1em;
    @include displayFlex(center,left);
    flex-wrap: wrap;

    div {
        margin: 0 1em;
        color: $primary-light;
        text-shadow: 0 0 7px $primary-dark;
        p {
            display: inline;
        }

        p, a, h3 {
            font-size: 25px;
        }

        p,a {
            margin: 0 .5em;
        }
    }
}