header {
    @include headerFooterBg;
    background-size: cover;

    .menu-icon, #menu-btn {
        display: none;
    }
    
    .site-title {
        height: 155px;
        text-align: right;
        padding: 40px 60px;
        @include textShadow($primary-light);
    }

    .navigation {
        border-top: 5px solid $primary-dark;
        width: 100%;
        margin-top: 5px;
    }
    .site-menu{
        @include displayFlex(center, flex-start);
        &-item {
            margin: 0 0.1em;
            font-weight: bold;
            color: #fff;
            @include textShadow($primary-dark);
        }
        &-item a {
            padding: 0.5em;
            width: 100%;
            height: 100%;
            display: block;
        }
        
        &-item:hover, .selected {
            color: $primary;
            font-style: italic;
            @include textShadow($primary-light);
            background: radial-gradient(rgba($primary-light,1) 0% ,rgba($primary-light,0) 85%);

        }

    }


}

