* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: $max-width;
}

h1 {
    font-size: 3.5em;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}
