<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fa/css/fontawesome.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fa/css/brands.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fa/css/solid.min.css">
    {% if page.styles %}
        {% for style in page.styles %}
            <link rel="stylesheet" href="{{site.baseurl}}{{style}}.css">
        {% endfor %}
    {% endif %}
</head>
<body>
    {% include header.html %}
    <main>
        <section class="page-content">
            {{content}}
        </section>
        {% if page.aside %}
            {% include aside.html %}
        {% endif %}
    </main>
    {% include footer.html %}
</body>
</html>